@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Azeret Mono;
    scroll-behavior: smooth;
}

:root {
    --t-color: rgb(13, 19, 33);
    --o-t-color: rgba(13, 19, 33, 0.7)
}



/* Header navigation style */

nav {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: 40px auto;
}

.intro {
    color: var(--t-color);
    font-size: 28px;
    font-weight: 800;
    text-align: left;
    margin: auto 0;
}

.download button {
    padding: 18px 24px;
    color: var(--t-color);
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    background-color: transparent;
    border-radius: 8px;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.8;
}

.download button:hover {
    cursor: pointer;
    background-color: rgb(19, 19, 19);
    color: rgb(238, 238, 238);
    transition: all 300ms;
}



/* Header banner section */

.banner {
    /* border: 1px solid red; */
    background-image: url(assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-width: 100%;
    height: 652px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.banner-title {
    /* border: 10px solid red; */
    color: var(--t-color);
    font-size: 48px;
    font-weight: 800;
    text-align: center;
}

.banner-p {
    /* border: 10px solid red; */
    color: var(--o-t-color);
    padding: 0 25%;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.banner button {
    background-color: black;
    border-radius: 8px;
    color: white;
    width: 244px;
    height: 65px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.banner button:hover {
    cursor: pointer;
    background-color: white;
    color: black;
    transition: all 300ms;
}



/* Main section start */

main {
    /* margin: 0 15%; */
    margin: auto;
    width: 1140px;
}

/*Question container */

.question-container {
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    margin: 74px 0 0;
    padding: 80px 80px;
    align-items: center;
}

.question-container>h1 {
    color: var(--t-color);
    font-size: 40px;
    font-weight: 800;
    text-align: center;
}

.question-container>p {
    margin-top: 30px;
    color: var(--o-t-color);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.question-container section h1 {
    color: var(--o-t-color);
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    text-align: left;
}

.question-container section p {
    color: var(--o-t-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    margin-top: 15px;
}

.question-container section button {
    color: var(--o-t-color);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    text-align: center;
    padding: 12px 20px;
    margin-top: 30px;
}

.question-container section button:hover {
    cursor: pointer;
}

.question {
    display: flex;
    justify-content: space-between;
    gap: 80px;
    padding: 48px;
    margin-top: 50px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
    border-radius: 10px;
}

.question2 {
    display: flex;
    justify-content: flex-start;
    gap: 80px;
    padding: 48px;
    margin-top: 50px;
    background: linear-gradient(270.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
    border-radius: 10px;
}



/* Inspiration section */

.inspiration h1 {
    margin-top: 90px;
    color: var(--t-color);
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    text-align: center;
}

.inspiration p {
    margin-top: 24px;
    color: var(--o-t-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
}

.i-video {
    margin-top: 48px;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    padding: 32px;
    width: 1140px;
    height: 550px;
}

.i-video iframe {
    border-radius: 16px;
    width: 100%;
    height: 100%;
}



/* My target section */

.targets>h1 {
    margin-top: 150px;
    color: var(--t-color);
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    text-align: center;
}

.targets>p {
    margin-top: 24px;
    padding: 0 90px;
    color: var(--o-t-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
}

.codes {
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
    /* gap: 24px; */
}

.codes section {
    padding: 40px;
    border-radius: 16px;
    /* min-height: 299px; */
    width: calc((1140px - 48px) / 3);
}

.codes h1 {
    color: var(--t-color);
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    text-align: left;
}

.codes p {
    color: var(--t-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    /* border: 1px solid red; */
    height: 150px;
}

.codes a {
    color: var(--t-color);
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    text-align: left;
}

.target1 {
    background-color: rgba(255, 76, 30, 0.05);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    row-gap: 20px;
}

.target2 {
    background-color: rgba(0, 76, 232, 0.05);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    row-gap: 20px;
}

.target3 {
    background-color: rgba(255, 223, 0, 0.05);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    row-gap: 20px;
}



/* Next target section */

.next-targets {
    /* border: 2px solid red; */
    margin-top: 110px;
}

.next-targets>h1 {
    color: var(--t-color);
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    text-align: center;
}

.next-targets>p {
    margin: 24px 150px 24px;
    color: var(--t-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
}

.next-t {
    margin-top: 24px;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    padding: 40px;
    display: flex;
    justify-content: space-between;

}

.icon {
    height: 150px;
    width: 200px;
    display: flex;
    align-items: center;
}

.next-target-description {
    width: 850px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.next-target-description h1 {
    color: var(--t-color);
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    text-align: left;
}

.next-target-description p {
    color: var(--o-t-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
}

.next-target-description a {
    color: var(--t-color);
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
}



/* Feedback section */

.feedback-container {
    margin-top: 50px;
    margin-bottom: 80px;
    height: 313px;
    padding: 64px 48px;
    border-radius: 16px;
    text-align: center;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url(assets/handshake.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.feedback-container h1 {
    color: white;
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
}

.feedback-container p {
    margin: 16px 220px 24px;
    color: rgb(255, 255, 255, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
}

.feedback-input {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 16px;
}

#feedback {
    width: 548px;
    height: 57px;
    padding: 15px;
    background-color: white;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
}

#submit {
    width: 120px;
    height: 57px;
    border-radius: 8px;
    background-color: white;
    text-align: center;
    color: var(--t-color);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    text-align: center;
}

#submit:hover {
    transform: scale(1.02);
}



/* footer section */

footer {
    padding: 32px 150px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.03);
    height: 100px;
    display: flex;
    justify-content: space-between;
}

footer h1 {
    color: var(--t-color);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    text-align: left;
}

.social {
    display: flex;
    column-gap: 24px;
}